#appName {
    text-align: center;
}

#mainContainer {
    max-width: 720px;
    margin: auto;
    background-color: #545b62;
}

ul li {
    display: inline;
}

ul li:last-child {
    margin-right: 0;
}
